@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No payment details are stored. This application wasn't made with the intention of using 
    real/personal/business emails, use a fake email instead (for testing purposes).</p>
